body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cfecbe; 
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color:#dff0d6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(169, 239, 193, 0.1);
    text-align: center;
  margin-top: 300px;

}

h1 {
    color: #f5bed8; 
}

.music-player {
    margin-top: 30px;
}

.controls {
    margin-top: 20px;
}

.control-btn {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #f9bfdb; 
    color: #50ba77;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.control-btn:hover {
    background-color:#e2f9d5; 
}